.nav-extension {
    position: sticky;
    bottom: 0;
    left: 16px;
    right: 16px;
    height: 56px;
    border-top: 1px solid map-get($map: $theme-colors, $key: "primary_light_05");
    z-index: 999;
    background-color: #ffffff;
    .nav-list {
        display: flex;
        height: 100%;
        width: calc(100% - 32px);
        margin: 0 auto;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .nav__item {
        font-size: 1.4rem;
        color: map-get($map: $theme-colors, $key: "primary_light_04");
        &:hover {
            color: darken(
                $color: map-get($map: $theme-colors, $key: "primary_light_04"),
                $amount: 20%
            );
        }
        &.active {
            color: map-get($map: $theme-colors, $key: "primary");
        }
    }
}
