.wrapper-extention-fullpage {
    background-image: url("../../images/background-extention-fullpage.png");
    background-position: center center;
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    padding: 40px 0;
    @media (max-width: 575.98px) {
        padding: 24px 0;
    }
}

.extention-fullpage-block {
    background-color: #ffffff;
    border-radius: 40px;
    padding: 40px 80px;
    .logo-extention {
        display: block;
        margin: 0 auto 40px;
        @media (max-width: 575.98px) {
            max-width: 120px;
        }
    }
    .header {
        margin-bottom: 40px;
    }
    @media (max-width: 767.98px) {
        padding: 24px 32px;
        border-radius: 24px;
    }
    @media (max-width: 575.98px) {
        padding: 16px 24px;
        border-radius: 16px;
    }
}

.title-screen {
    color: map-get($map: $theme-colors, $key: "primary");
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}

.extention-fullpage-steps {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
    .steps {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 4px;
            bottom: 4px;
            width: 4px;
            border: 4px solid
                map-get($map: $theme-colors, $key: "primary_light_04");
            z-index: 1;
            user-select: none;
            pointer-events: none;
            @media (max-width: 767.98px) {
                bottom: unset;
                top: 50%;
                left: 4px;
                right: 4px;
                width: auto;
                transform: translateY(-50%);
            }
        }
        @media (max-width: 767.98px) {
            flex-direction: row;
        }
    }
    .step__item {
        position: relative;
        z-index: 2;
        > a {
            color: #ffffff;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            background-color: map-get(
                $map: $theme-colors,
                $key: "primary_light_04"
            );
            border-radius: 50%;
            transition: 0.3s all ease-in-out;
        }
        + .step__item {
            margin-top: 24px;
            @media (max-width: 767.98px) {
                margin-top: 0;
                margin-left: 16px;
            }
        }
        &.active {
            > a {
                font-weight: 700;
                width: 32px;
                height: 32px;
                background-color: map-get(
                    $map: $theme-colors,
                    $key: "primary_light_02"
                );
                box-shadow: 0 0 12px rgba($color: #9039ff, $alpha: 1);
            }
        }
    }
    @media (max-width: 767.98px) {
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
        top: unset;
        left: unset;
        transform: unset;
        margin-bottom: 24px;
    }
}

.other-login {
    margin-top: 16px;
    .or {
        margin-bottom: 8px;
        text-align: center;
        position: relative;
        &:after,
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            width: 100%;
            max-width: 42px;
            height: 1px;
            background-color: map-get($map: $theme-colors, $key: "grey_07");
        }
        &:before {
            left: 25%;
            transform: translateX(-25%);
        }
        &:after {
            right: 25%;
            transform: translateX(25%);
        }
    }
    .social {
        max-width: 100%;
        width: 40px;
        height: auto;
        + .social {
            margin-left: 24px;
        }
    }
    .footer-auth {
        margin-top: 16px;
        text-align: center;
        .sign-up,
        .restore-wallet {
            margin-bottom: 8px;
            a {
                color: map-get($map: $theme-colors, $key: "grey_07");
                text-decoration: underline;
            }
        }
    }
}
