.title-screen {
    color: map-get($map: $theme-colors, $key: "primary");
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}

.sub-title-screen {
    font-size: 0.875rem;
    color: map-get($map: $theme-colors, $key: "grey_07");
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}

.extention-fullpage-steps {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
    .steps {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 4px;
            bottom: 4px;
            width: 4px;
            border: 4px solid
                map-get($map: $theme-colors, $key: "primary_light_04");
            z-index: 1;
            user-select: none;
            pointer-events: none;
            @media (max-width: 767.98px) {
                bottom: unset;
                top: 50%;
                left: 4px;
                right: 4px;
                width: auto;
                transform: translateY(-50%);
            }
        }
        @media (max-width: 767.98px) {
            flex-direction: row;
        }
    }
    .step__item {
        position: relative;
        z-index: 2;
        > a {
            color: #ffffff;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            background-color: map-get(
                $map: $theme-colors,
                $key: "primary_light_04"
            );
            border-radius: 50%;
            transition: 0.3s all ease-in-out;
        }
        + .step__item {
            margin-top: 24px;
            @media (max-width: 767.98px) {
                margin-top: 0;
                margin-left: 16px;
            }
        }
        &.active {
            > a {
                font-weight: 700;
                width: 32px;
                height: 32px;
                background-color: map-get(
                    $map: $theme-colors,
                    $key: "primary_light_02"
                );
                box-shadow: 0 0 12px rgba($color: #9039ff, $alpha: 1);
            }
        }
    }
    @media (max-width: 767.98px) {
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
        top: unset;
        left: unset;
        transform: unset;
        margin-bottom: 24px;
    }
}

.other-login {
    margin-top: 16px;
    .or {
        margin-bottom: 8px;
        text-align: center;
        position: relative;
        &:after,
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            width: 100%;
            max-width: 42px;
            height: 1px;
            background-color: map-get($map: $theme-colors, $key: "grey_07");
        }
        &:before {
            left: 25%;
            transform: translateX(-25%);
        }
        &:after {
            right: 25%;
            transform: translateX(25%);
        }
    }
    .social {
        width: 40px;
        + .social {
            margin-left: 24px;
        }
    }
    .footer-auth {
        margin-top: 16px;
        text-align: center;
        .restore-wallet,
        .sign-up {
            a {
                color: map-get($map: $theme-colors, $key: "grey_07");
                text-decoration: underline;
            }
        }
        .sign-up {
            margin-bottom: 8px;
        }
    }
}

.tabs-extension-container {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 100;
    .tabs {
        display: flex;
        box-shadow: 0px 1px 0px;
        box-shadow: inset 0 -1px 0 map-get($map: $theme-colors, $key:
                    "primary_light_04");
    }
    .tab__item {
        cursor: pointer;
        color: map-get($map: $theme-colors, $key: "grey_05");
        font-size: 1rem;
        font-weight: 700;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 32px;
        user-select: none;
        border-bottom: 3px solid transparent;
        transition: 0.3s all ease-in-out;
        &.tab-claim {
            max-width: 80px;
        }
        &:hover {
            color: darken(
                $color: map-get($map: $theme-colors, $key: "grey_05"),
                $amount: 10%
            );
        }
        &.active {
            border-color: map-get($map: $theme-colors, $key: "primary");
            color: map-get($map: $theme-colors, $key: "grey_07");
        }
    }
    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -16px;
        height: 16px;
        background-color: inherit;
    }
}
