@import "_varivables";

.has-action-button {
    overflow-y: hidden;
    .position-center-bottom {
        position: sticky;
        z-index: 1000;
        margin-right: 16px;
        margin-left: 16px;
        bottom: 72px;
        justify-content: space-between;
        a {
            max-width: 176px;
        }
    }
}

.body-claim-token {
    .header-claim-token {
        justify-content: space-between;
        border: 1px solid map-get($map: $theme-colors, $key: "grey_02");
        padding: 4px;
        border-radius: 8px;
        .claim-from {
            img {
                margin-right: 8px;
            }
        }
        .claim-to {
            .arr {
                margin-right: 16px;
            }
            .avatar {
                margin-right: 8px;
            }
        }
    }
    .with-draw {
        margin-top: 16px;
        .draw-title {
            line-height: 20px;
        }
        .amount-draw {
            font-size: 48px;
            line-height: 56px;
            letter-spacing: -1px;
        }
    }
}

.content-success-claim {
    text-align: center;
    margin-top: 82px;
    .success-title {
        margin-bottom: 16px;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.3px;
        color: map-get($map: $theme-colors, $key: "primary_dark_01");
    }
    img {
        margin-bottom: 16px;
    }
    .have-claim {
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 24px;
        color: map-get($map: $theme-colors, $key: "grey_07");
    }
    .amount-coin {
        margin-bottom: 16px;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -0.5px;
        color: map-get($map: $theme-colors, $key: "primary");
    }
    .amount-to-prism {
        font-size: 12px;
        line-height: 16px;
        color: map-get($map: $theme-colors, $key: "primary_dark_01");
    }
}

#claim {
    .position-center-bottom {
        a {
            max-width: unset;
        }
    }
}
