@import "_varivables";

.create-wallet-screen {
    .form-container {
        margin-top: 16px;
    }
    .form-wrapper {
        border-radius: 16px;
    }
    .extention-fullpage-block {
        @media (max-width: 767.98px) {
            margin-top: 24px;
        }
    }
    .verification-link-block {
        color: map-get($map: $theme-colors, $key: "grey_07");
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        padding: 0 24px;
    }
}
