@import "_varivables";

.create-wallet-screen {
    .form-container {
        margin-top: 16px;
    }
    .form-wrapper {
        border-radius: 16px;
    }
    .extention-fullpage-block {
        @media (max-width: 767.98px) {
            margin-top: 24px;
        }
    }
}
