@import "_varivables";

.welcome-screen {
    overflow: hidden;
    background-color: #ffffff;
    .header {
        padding-top: 8px;
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)
            ),
            linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            linear-gradient(0deg, #430083, #430083);
        padding-bottom: 22px;
        clip-path: ellipse(66% 55% at 48% 34%);
        .logo {
            display: block;
            max-width: 87px;
            width: 100%;
            margin: 0 auto;
        }
        p,
        h1 {
            text-align: center;
        }
        p {
            color: map-get($map: $theme-colors, $key: "grey_06");
            font-size: 48px;
            line-height: 56px;
            letter-spacing: -1px;
            padding-top: 8px;
        }
        h1 {
            color: #ffffff;
            font-size: 28px;
            line-height: 36px;
            letter-spacing: -0.5px;
            margin: 4px 0 22px 0;
        }
    }
    .body {
        margin: 16px 32px 0 32px;
        .forgot-password {
            color: map-get($map: $theme-colors, $key: "info");
            text-align: right;
            margin: 4px 0 16px 0;
            font-size: 12px;
            line-height: 16px;
        }
        .or {
            margin: 16px 0 8px 0;
            text-align: center;
            position: relative;
            &:after,
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                width: 100%;
                max-width: 42px;
                height: 1px;
                background-color: map-get($map: $theme-colors, $key: "grey_07");
            }
            &:before {
                left: 25%;
                transform: translateX(-25%);
            }
            &:after {
                right: 25%;
                transform: translateX(25%);
            }
        }
        .social {
            max-width: 100%;
            width: 40px;
            height: auto;
        }
        .social:nth-child(2) {
            margin: 0 24px 0 24px;
        }
        .footer-auth {
            margin-top: 22px;
            margin-bottom: 20px;
            text-align: center;
            .sign-up,
            .restore-wallet {
                margin-bottom: 8px;
                span {
                    text-decoration: underline;
                }
            }
        }
    }
}
