@import "_varivables";

.home-screen {
    &.container-extension {
        &.has-nav-extention {
            .body-extension {
                margin: -86px 16px 16px 16px;
                min-height: $height-container-extention -
                    $height-header-extention + 86px - 16px - 56px;
            }
        }
    }
    .total-current-money {
        font-size: 1.75rem;
        color: #ffffff;
        text-align: center;
        font-weight: 700;
        margin-top: 22px;
    }
    .home-main-actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 16px;
        .btn {
            + .btn {
                margin-left: 16px;
            }
        }
    }
}
