@import "_varivables";
.password-recovery-form, .password-confirm-form {
    margin-top: 16px;
    .form-control-have-label {
        margin-bottom: 16px;
    }
}

.password-recovery-verify {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 336px;
    text-align: center;
    .link-verify {
        display: flex;
        justify-content: center;
        a {
            color: map-get($map: $theme-colors, $key: "grey_07")
        }
    }
}