@import "_varivables";

.profile-screen {
    .wallets {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        cursor: pointer;
        width: 100%;
        padding: 0 1rem;
        font-size: 0.875rem;
        font-weight: 400;
        color: #4e4762;
        background-color: #ffffff;
        background-clip: padding-box;
        height: 40px;
        border: 1px solid map-get($map: $theme-colors, $key: "border");
        appearance: none;
        border-radius: 0.5rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .select-wallet {
        display: flex;
        align-items: center;
        .dropdown {
            margin-left: 8px;
        }
        .dropdown-item {
            .wallet__name {
                font-size: 1rem;
                margin-right: 24px;
            }
            .wallet__info {
                display: inline-flex;
                align-items: center;
                .info__item {
                    font-weight: 300;
                    + .info__item {
                        margin-left: 8px;
                    }
                }
            }
        }
        .wallet-item-active {
            position: relative;
            user-select: none;
            padding-right: 24px;
            &:after {
                content: "\f107";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                font-family: map-get($map: $theme-fonts, $key: "icons");
            }
        }
    }
    .option-panel-wallet {
        .btn-option-panel-wallet {
            border: 0;
            background-color: transparent;
        }
    }
    .actions-main-wallet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
        height: 84px;
        margin-top: 16px;
        .action__item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            border: 0;
            background-color: transparent;
            border: 1px solid map-get($map: $theme-colors, $key: "border");
            border-radius: 8px;
            > i {
                font-size: 1.25rem;
                color: map-get($map: $theme-colors, $key: "primary");
            }
            > span {
                color: map-get($map: $theme-colors, $key: "grey_07");
                margin-top: 10px;
                font-weight: 700;
            }
        }
    }
    .accounts {
        margin-top: 16px;
        .account__item {
            background-color: map-get($map: $theme-colors, $key: "grey_01");
            .item__content-main {
                display: flex;
                align-items: center;
                padding: 16px;
                border: 1px solid map-get($map: $theme-colors, $key: "border");
                border-radius: 8px;
                background-color: #ffffff;
            }
            .account__name {
                font-size: 1rem;
                font-weight: 700;
                color: map-get($map: $theme-colors, $key: "primary");
            }
            .account__info {
                margin-left: auto;
                .info__item {
                    &:first-child {
                        color: map-get($map: $theme-colors, $key: "grey_07");
                        font-size: 1rem;
                    }
                    &:last-child {
                        color: map-get($map: $theme-colors, $key: "grey_05");
                        font-size: 0.75rem;
                        font-weight: 300;
                        margin-top: 2px;
                    }
                }
            }
            .account__actions {
                display: flex;
                align-items: center;
                margin-left: 18px;
                .btn-option-panel {
                    color: #ffffff;
                    border: 0;
                    width: 20px;
                    height: 20px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    background-color: map-get(
                        $map: $theme-colors,
                        $key: "grey_05"
                    );
                    border-radius: 50%;
                    transition: 0.3s all ease-in-out;
                    &:hover {
                        background-color: darken(
                            $color:
                                map-get($map: $theme-colors, $key: "grey_05"),
                            $amount: 10%
                        );
                    }
                    &:active {
                        background-color: darken(
                            $color:
                                map-get($map: $theme-colors, $key: "grey_05"),
                            $amount: 25%
                        );
                    }
                }
                .btn-show-more {
                    color: map-get($map: $theme-colors, $key: "grey_05");
                    width: 20px;
                    height: 20px;
                    font-size: 1.2rem;
                    border: 0;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.3s all ease-in-out;
                    &:hover {
                        color: darken(
                            $color:
                                map-get($map: $theme-colors, $key: "grey_05"),
                            $amount: 10%
                        );
                    }
                    &:active {
                        color: darken(
                            $color:
                                map-get($map: $theme-colors, $key: "grey_05"),
                            $amount: 25%
                        );
                    }
                    &.active {
                        transform: rotate(180deg);
                    }
                }
                .action__item {
                    + .action__item {
                        margin-left: 8px;
                    }
                }
            }
            + .account__item {
                margin-top: 16px;
            }
            .item__content-detail {
                display: none;
                padding-top: 8px;
                padding: 0 16px;
                .detail__item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-top: 8px;
                    .item__desc {
                        display: flex;
                        align-items: center;
                        .icon {
                            padding-right: 8px;
                        }
                        .name-token,
                        .address-token {
                            font-size: 0.75rem;
                        }
                        .name-token {
                            color: map-get(
                                $map: $theme-colors,
                                $key: "grey_07"
                            );
                        }
                        .address-token {
                            color: map-get(
                                $map: $theme-colors,
                                $key: "grey_05"
                            );
                            font-weight: 300;
                        }
                    }
                    + .detail__item {
                        margin-top: 8px;
                        border-top: 1px solid
                            map-get($map: $theme-colors, $key: "grey_02");
                    }
                    .item__actions {
                        .btn-copy {
                            color: map-get(
                                $map: $theme-colors,
                                $key: "grey_05"
                            );
                            width: 20px;
                            height: 20px;
                            font-size: 1rem;
                            border: 0;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            transition: 0.3s all ease-in-out;
                            &:hover {
                                color: darken(
                                    $color:
                                        map-get(
                                            $map: $theme-colors,
                                            $key: "grey_05"
                                        ),
                                    $amount: 10%
                                );
                            }
                            &:active {
                                color: darken(
                                    $color:
                                        map-get(
                                            $map: $theme-colors,
                                            $key: "grey_05"
                                        ),
                                    $amount: 25%
                                );
                            }
                        }
                    }
                    &:last-child {
                        padding-bottom: 8px;
                    }
                }
            }
        }
    }
}
