@import "_varivables";

.content-registration-completed {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 32px;
    .second-title-screen {
        font-size: 1.75rem;
        color: map-get($map: $theme-colors, $key: "primary_dark_02");
        margin-bottom: 16px;
    }
}
