@import "_varivables";
.wrap-restore {
    text-align: center;
    margin-top: 24px;
    .restore-item {
        box-shadow: 0px 0px 12px rgba(200, 191, 225, 0.54);
        margin-bottom: 24px;
        a {
            padding: 8px 16px;
            color: map-get($map: $theme_colors, $key: "grey_07");
            img {
                width: 24px;
                max-width: 100%;
                height: auto;
                margin-right: 16px;
            }
            &:hover {
                border: 1px solid #8200FF;
                box-shadow: 0px 0px 8px #B163FC;
                border-radius: 8px;
            }
        }
    }
}