@import "_varivables";

.restore-pharses-form {
    textarea {
        padding: 16px;
        color: map-get($map: $theme-colors, $key: "grey_07");
        width: 100%;
        border: 1px solid map-get($map: $theme-colors, $key: "grey_02");
        max-height: 110px;
    }
}
