@import "_varivables";

.secret-phrases-screen {
    .group-button-action {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .btn {
            + .btn {
                margin-left: 24px;
            }
        }
    }
    .secret-phrases {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 40px 8px;
        background-color: map-get(
            $map: $theme-colors,
            $key: "primary_light_04"
        );
        border-radius: 16px;
        margin-top: 40px;
        @media (max-width: 575.98px) {
            grid-template-columns: repeat(3, 1fr);
            margin-top: 24px;
        }
    }
    .secret-phrases__item {
        text-align: center;
        line-height: 48px;
        font-weight: 700;
    }
}
