@import "_varivables";

.secret-phrases-screen {
    .group-button-action {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .btn {
            + .btn {
                margin-left: 24px;
            }
        }
    }
    .secret-phrases {
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 40px 8px;
        background-color: map-get(
            $map: $theme-colors,
            $key: "primary_light_04"
        );
        border-radius: 16px;
        margin-top: 40px;
        @media (max-width: 575.98px) {
            grid-template-columns: repeat(3, 1fr);
            margin-top: 24px;
        }
        &.hidden-secret-phrases {
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: rgba(
                    $color:
                        map-get($map: $theme-colors, $key: "primary_light_05"),
                    $alpha: 0.2
                );
                z-index: 10;
                backdrop-filter: blur(8px);
                border-radius: 16px;
                pointer-events: none;
            }
            &:before {
                content: "\f06e";
                color: #292d32;
                position: absolute;
                left: 50%;
                top: 50%;
                font-size: 4rem;
                transform: translate(-50%, -50%);
                font-family: map-get($map: $theme-fonts, $key: "icons");
                z-index: 15;
                cursor: pointer;
            }
        }
        .secret-phrases__copied {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: map-get(
                $map: $theme-colors,
                $key: "primary_light_05"
            );
            border-radius: 16px;
            z-index: 20;
            .icon {
                font-size: 2.5rem;
            }
            p {
                font-size: 1rem;
                font-weight: 700;
                text-align: center;
            }
        }
    }
    .secret-phrases__item {
        text-align: center;
        line-height: 48px;
        font-weight: 700;
    }
}
