@import "_varivables";

.content-select-chains {
    margin-top: 16px;
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        > * {
            flex: 0 0 50%;
            max-width: 50%;
            width: 176px;
        }
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;
            padding-top: 8px;
            padding-bottom: 8px;
            .option-select {
                display: flex;
                align-items: center;
                img {
                    margin-right: 8px;
                }
            }
        }
        li:nth-child(odd) {
            padding-right: 16px;
        }
    }
}