@import "_varivables";

.what-new-screen {
    .title-screen {
        position: relative;
        padding-bottom: 16px;
        &:after {
            content: "";
            border-bottom: 1px solid
                map-get($map: $theme-colors, $key: "border");
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            width: 270px;
        }
    }
    .new__item {
        display: block;
        position: relative;
        color: map-get($map: $theme-colors, $key: "txt-body");
        font-weight: 300;
        transition: 0.3s all ease-in-out;
        &:before {
            content: "\f005";
            font-family: map-get($map: $theme-fonts, $key: "icons");
            float: left;
            margin-right: 8px;
        }
        + .new__item {
            margin-top: 16px;
        }
        &:hover {
            color: map-get($map: $theme-colors, $key: "primary_dark_03");
        }
    }
}
