.tabs-extension-container
                .tabs
                    .tab__item.tab-claim.active Detail
                    .tab__item.tab-claim Data
.control-panel
    .gas-fee.d-flex.al-c
        p.title.fw-700 Gas Fee
        a(href="") Edit 
    .claim-amount
        p.amount.fw-700 0.04739
        p.no-rate No conversation Rate Available
    .gas
        .gas-price
            p.label.fw-700 Gas Price
            input(type="number", value="500")
        .gas-limit
            p.label.fw-700 Gas Limit
            input(type="number", value="500")
    .total
        .total-title.d-flex.al-c
            p.title.fw-700 Total
            p.amount-gas-fee Amount + Gas fee
        .total-amount
            p.amount.fw-700 0.04739
            p.no-rate No conversation Rate Available