block var

<!DOCTYPE html>
html(lang="en")
	head
		// *** META *** //
		include meta
		// *** RUN BEFORE DOM *** //
		block js_run_first
		include css
		// *** CSS CUSTOM PAGE *** //
		block css
		// *** FAVICON *** //
		link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
		// *** TITLE *** //
		title #{pageTitle}
	body(class=`${bodyClass}`)
		// *** MAIN *** //
		main
			block main
		include js
		// *** JS CUSTOM PAGE *** //
		block js