block var

<!DOCTYPE html>
html(lang="en")
    head
        // *** META *** //
        include meta
        // *** RUN BEFORE DOM *** //
        block js_run_first
        include css
        // *** CSS CUSTOM PAGE *** //
        block css
        // *** FAVICON *** //
        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
        // *** TITLE *** //
        title #{pageTitle}
    body(class=`${bodyClass}`)
        // *** MAIN *** //
        main
            block main
        // MODAL RENAME WALLET
        .modal.fade#renameWallet(tabindex="-1" role="dialog" aria-hidden="true")
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-header
                        .modal-title Rename Wallet
                        button.modal-button-close(data-dismiss="modal")
                            i.far.fa-times
                    .modal-body
                        form.form-container(action="")
                            .form-wrapper.form-auth
                                .form-control-have-label
                                    label.form-label Your wallet name
                                    input.form-control(type="text", name="name" placeholder="Your Wallet Name")
                    .modal-footer
                        .form-group-buttons-2
                            button.btn.btn-block.btn-lg.btn-outline-primary-dark-1(data-dismiss="modal") Back
                            button.btn.btn-block.btn-lg.btn-primary-dark-1 Next
        // MODAL RENAME ACCOUNT
        .modal.fade#renameAccount(tabindex="-1" role="dialog" aria-hidden="true")
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-header
                        .modal-title Rename Account
                        button.modal-button-close(data-dismiss="modal")
                            i.far.fa-times
                    .modal-body
                        form.form-container(action="")
                            .form-wrapper.form-auth
                                .form-control-have-label
                                    label.form-label Account name
                                    input.form-control(type="text", name="name" placeholder="Your Account Name")
                    .modal-footer
                        .form-group-buttons-2
                            button.btn.btn-block.btn-lg.btn-outline-primary-dark-1(data-dismiss="modal") Back
                            button.btn.btn-block.btn-lg.btn-primary-dark-1(data-dismiss="modal") Next
        // BACKUP WALLET
        .modal.fade#backupWallet(tabindex="-1" role="dialog" aria-hidden="true")
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-header
                        .modal-title Backup Wallet
                        button.modal-button-close(data-dismiss="modal")
                            i.far.fa-times
                    .modal-body
                        form.form-container(action="")
                            .form-wrapper.form-auth
                                .form-control-have-label
                                    label.form-label Enter your password
                                    input.form-control(type="password", name="password" placeholder="Your Password")
                                label.form-control-have-label.form-check.d-flex.jc-c
                                    .form-check-input
                                        input(type="checkbox")
                                    .form-label Export with a new password
                    .modal-footer
                        .form-group-buttons-2
                            button.btn.btn-block.btn-lg.btn-outline-primary-dark-1(data-dismiss="modal") Back
                            button.btn.btn-block.btn-lg.btn-primary-dark-1(data-target="#successBackupWallet", data-toggle="modal", data-dismiss="modal") Next
        // BACKUP WALLET SUCCESSFULLY
        .modal.fade#successBackupWallet(tabindex="-1" role="dialog" aria-hidden="true")
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-header
                        .modal-title Successfully backup wallet!
                        button.modal-button-close(data-dismiss="modal")
                            i.far.fa-times
                    .modal-body
                        img.d-block.mx-auto(src="./images/success-backup-wallet.png", alt="success-backup-wallet")
                    .modal-footer
                        button.btn.btn-block.btn-lg.btn-outline-primary-dark-1(data-dismiss="modal") Done
        // DELETE WALLET
        .modal.fade#deleteBackupWallet(tabindex="-1" role="dialog" aria-hidden="true")
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-header
                        .modal-title
                            i.fas.fa-exclamation-square
                            span Delete this Wallet
                        button.modal-button-close(data-dismiss="modal")
                            i.far.fa-times
                    .modal-body
                        form.form-container(action="")
                            .form-wrapper.form-auth
                                .form-control-have-label
                                    label.form-label Enter your password
                                    input.form-control(type="password", name="password" placeholder="Your Password")
                    .modal-footer
                        .form-group-buttons-2
                            button.btn.btn-block.btn-lg.btn-outline-primary-dark-1(data-dismiss="modal") Back
                            button.btn.btn-block.btn-lg.btn-primary-dark-1(data-dismiss="modal") Next
        // VIEW SECRET PHRASES
        .modal.fade#viewSecretPhrases(tabindex="-1" role="dialog" aria-hidden="true")
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-header
                        .modal-title View Secrect Phrases
                        button.modal-button-close(data-dismiss="modal")
                            i.far.fa-times
                    .modal-body
                        form.form-container(action="")
                            .form-wrapper.form-auth
                                .form-control-have-label
                                    label.form-label Enter your password
                                    input.form-control(type="password", name="password" placeholder="Your Password")
                    .modal-footer
                        .form-group-buttons-2
                            button.btn.btn-block.btn-lg.btn-outline-primary-dark-1(data-dismiss="modal") Back
                            button.btn.btn-block.btn-lg.btn-primary-dark-1(data-toggle="modal", data-dismiss="modal", data-target="#copySecretPhrases") Next
        // VIEW SECRET PHRASES
        .modal.fade#copySecretPhrases(tabindex="-1" role="dialog" aria-hidden="true")
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-header
                        .modal-title View Secrect Phrases
                        button.modal-button-close(data-dismiss="modal")
                            i.far.fa-times
                    .modal-body
                        .secret-phrases
                            .secret-phrases__item release
                            .secret-phrases__item rose
                            .secret-phrases__item update
                            .secret-phrases__item void
                            .secret-phrases__item accident
                            .secret-phrases__item coil
                            .secret-phrases__item dove
                            .secret-phrases__item glass
                            .secret-phrases__item humor
                            .secret-phrases__item need
                            .secret-phrases__item peanut
                            .secret-phrases__item rabit
                        .group-button-action
                            button.btn.btn-sm.btn-link.button-copy-secret-phrases
                                i.fa.fa-solid.fa-copy
                                span Copy secret phrases
                    .modal-footer
                        button.btn.btn-block.btn-lg.btn-primary-dark-1(data-dismiss="modal") Done
        // CONFIRM LOGOUT
        .modal.fade#confirmLogout(tabindex="-1" role="dialog" aria-hidden="true")
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-header
                        .modal-title Logout Your Account
                    .modal-body
                        img.d-block.mx-auto(src="./images/confirm-logout.png", alt="confirm-logout")
                    .modal-footer
                        .form-group-buttons-2
                            button#sign-out.btn.btn-block.btn-lg.btn-outline-primary-dark-1 Logout
                            button.btn.btn-block.btn-lg.btn-primary-dark-1(data-dismiss="modal") Back
        include js
        // *** JS CUSTOM PAGE *** //
        block js
