nav.nav-extension
    .nav-list
        a(href="#").nav__item
            i.far.fa-home-alt
        a(href="#").nav__item
            i.far.fa-comment-alt-lines
        a(href="#").nav__item
            i.far.fa-exchange
        a(href="#").nav__item
            i.far.fa-clock
        a(href="#").nav__item.active
            i.far.fa-user-circle