extends ../layouts/layout

block var
    - bodyClass = "success-claim-token"
    - pageTitle = "Success Claim Token"
block css
    link(rel="stylesheet", href="./css/claim-token.css")
block js
block main
    section.container-extension.has-nav-extention.has-action-button#claim
        .header-extension
            img.logo(src="/images/logo_white.png", alt="Prism")
        .body-extension
            .content-success-claim
                p.success-title Success!
                img(src="/images/success-claim-token.png", alt="success-claim")
                p.have-claim You have claimed
                p.amount-coin.fw-700 1.497 ETH
                p.amount-to-prism +10 PRISM to your account
        .form-control-action.position-center-bottom
            a.btn.btn-block.btn-lg.btn-primary-dark-1(href="home.html") Done
        include ../layouts/nav
