extends ../layouts/layout

block var
    - bodyClass = "create-password-page"
    - pageTitle = "Create Password"
block css
    link(rel="stylesheet", href="./css/create_password.css")
block main
    section.create-password-screen.wrapper-extention-fullpage
        .container
            .extention-fullpage-steps
                ul.steps
                    li.step__item.active
                        a(href="create-password.html") 1
                    li.step__item
                        a(href="secret-phrases.html") 2
                    li.step__item
                        a(href="verify-secret-phrases.html") 3
                    li.step__item
                        a(href="#") 4
                    li.step__item
                        a(href="#") 5
                    li.step__item
                        a(href="#") 6
            .extention-fullpage-block
                .header
                    img.logo-extention(src="./images/logo-black.png", alt="Prism")
                    h2.title-main-screen.ta-c Create a password
                .body
                    form.form-container(action="secret-phrases.html")
                        .form-wrapper
                            .form-control-have-label
                                label.form-label
                                    span New Wallet Password
                                    span.note (min 8 characters)
                                input.form-control(type="password" placeholder="New Wallet Password")
                            .form-control-have-label
                                label.form-label
                                    span Confirm
                                input.form-control(type="password" placeholder="Confirm")
                        .form-group-buttons-2
                            a(href="#" role="button").btn.btn-block.btn-lg.btn-outline-primary Back
                            button.btn.btn-block.btn-lg.btn-primary Next