extends ../layouts/layout

block var
    - bodyClass = "create-password-page"
    - pageTitle = "Create Password"
block css
    link(rel="stylesheet", href="./css/create-password.css")
block main
    section.create-password-screen