extends ../layouts/layout

block var
    - bodyClass = "create-wallet-page"
    - pageTitle = "Create Wallet"
block css
    link(rel="stylesheet", href="./css/create_wallet.css")
block main
    section.create-wallet-screen.container-extension
        .header-extension
            a(href="index.html").btn.btn-sm.btn-link-light.btn-back
                i.fa.fa-angle-left
                span Back
            img.logo(src="/images/logo_white.png", alt="Prism")
        .body-extension
            form.form-container(action="secret-phrases.html")
                .form-wrapper
                    .form-control-have-label
                        label.form-label
                            span New Wallet Password
                            span.note (min 8 characters)
                        input.form-control(type="password" placeholder="New Wallet Password")
                    .form-control-have-label
                        label.form-label
                            span Confirm
                        input.form-control(type="password" placeholder="Confirm")
                    button.btn.btn-block.btn-lg.btn-primary Next