extends ../layouts/layout

block var
    - bodyClass = "create-wallet-page"
    - pageTitle = "Create Wallet"
block css
    link(rel="stylesheet", href="./css/create_wallet.css")
block main
    section.create-wallet-screen.container-extension
        .header-extension
            a(href="index.html").btn.btn-sm.btn-link-light.btn-back
                i.fa.fa-angle-left
                span Back
            img.logo(src="/images/logo_white.png", alt="Prism")
        .body-extension
            h1.title-screen Create new wallet
            form.form-container(action="secret-phrases.html")
                .form-wrapper
                    .form-control-have-label
                        label.form-label
                            span Email
                        input.form-control(type="email" placeholder="loremipsum@gmail.com")
                    .form-control-have-label
                        label.form-label
                            span Password
                            span.note (min 8 characters)
                        input.form-control(type="password" placeholder="Your Password")
                    .form-control-have-label
                        label.form-label
                            span Confirm
                        input.form-control(type="password" placeholder="Confirm")
                    .form-control-action
                        button.btn.btn-block.btn-lg.btn-primary Sign up
            .other-login
                .or Or sign in with
                .d-flex.jc-c.al-c
                    img.social(src="./images/google-social.png", alt="google")
                    img.social(src="./images/twitter-social.png", alt="twitter")
                    img.social(src="./images/facebook-social.png", alt="facebook")