extends ../layouts/layout

block var
    - bodyClass = "home-page"
    - pageTitle = "Prism | Home Page"
block css
    link(rel="stylesheet", href="./css/home.css")
block main
    section.home-screen.container-extension.has-nav-extention
        .header-extension
            a.logo(href="index.html")
                img(src="./images/logo_white.png", alt="Prism")
            h1.total-current-money
                span.currency $
                span 0,00
            .home-main-actions
                a.btn.btn-sm.btn-primary(href="#") Send
                a.btn.btn-sm.btn-primary(href="#") Receive
                a.btn.btn-sm.btn-primary(href="#") Buy
        .body-extension
            .tabs-extension-container
                .tabs
                    .tab__item.active Coins
                    .tab__item Collectibles
            .control-panel
                .search
                    input.form-control(type="text" placeholder="Search")
                .filter
                    .form-select
                        select(name="")
                            option(value="#") All Chain
                            option(value="#") All Chain
                            option(value="#") All Chain
            .coins
                .coin__item
                    .left
                        .icon
                            img(src="./images/bitcoin-icon.png", alt="bitcoin")
                        .name
                            h4
                                span 12
                                span BTC
                            h3
                                span $
                                span 391,402
                    .right
                        p.percentage +1.6%
                        .dropdown
                            button.btn-more.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                i.far.fa-ellipsis-h
                            button(data-toggle="modal" data-target="#renameWallet")
                            .dropdown-menu
                                button.dropdown-item(data-toggle="modal" data-target="#renameWallet")
                                    .icon
                                        i.far.fa-pen
                                    .text Rename Wallet
                                button.dropdown-item
                                    .icon
                                        i.fas.fa-eye
                                    .text View Secret phrases
                                button.dropdown-item
                                    .icon
                                        i.far.fa-pen
                                    .text Back up
                                button.dropdown-item
                                    .icon
                                        i.far.fa-arrow-to-bottom
                                    .text Delete Wallet
                                button.dropdown-item
                                    .icon
                                        i.far.fa-sign-out
                                    .text Log Out
                            .modal.fade.bd-example-modal-sm#renameWallet(tabindex="-1" role="dialog" aria-hidden="true")
                                .modal-dialog.modal-dialog-centered
                                    .modal-header
                                        .modal-title Rename Wallet
                                    .modal-content
                                        p xin chào
                .coin__item
                    .left
                        .icon
                            img(src="./images/ethereum-icon.png", alt="ethereum")
                        .name
                            h4
                                span 12
                                span BTC
                            h3
                                span $
                                span 391,402
                    .right
                        p.percentage +1.6%
                        .dropdown
                            button.btn-more.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                i.far.fa-ellipsis-h
                            .dropdown-menu
                                button.dropdown-item(data-toggle="modal" data-target=".bd-example-modal-sm")
                                    .icon
                                        i.far.fa-pen
                                    .text Rename Wallet
                                button.dropdown-item
                                    .icon
                                        i.fas.fa-eye
                                    .text View Secret phrases
                                button.dropdown-item
                                    .icon
                                        i.far.fa-pen
                                    .text Back up
                                button.dropdown-item
                                    .icon
                                        i.far.fa-arrow-to-bottom
                                    .text Delete Wallet
                                button.dropdown-item
                                    .icon
                                        i.far.fa-sign-out
                                    .text Log Out
                .coin__item
                    .left
                        .icon
                            img(src="./images/polygon-icon.png", alt="polygon")
                        .name
                            h4
                                span 12
                                span BTC
                            h3
                                span $
                                span 391,402
                    .right
                        p.percentage +1.6%
                        .dropdown
                            button.btn-more.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                i.far.fa-ellipsis-h
                            .dropdown-menu
                                button.dropdown-item
                                    .icon
                                        i.far.fa-pen
                                    .text Rename Wallet
                                button.dropdown-item
                                    .icon
                                        i.fas.fa-eye
                                    .text View Secret phrases
                                button.dropdown-item
                                    .icon
                                        i.far.fa-pen
                                    .text Back up
                                button.dropdown-item
                                    .icon
                                        i.far.fa-arrow-to-bottom
                                    .text Delete Wallet
                                button.dropdown-item
                                    .icon
                                        i.far.fa-sign-out
                                    .text Log Out
                .coin__item
                    .left
                        .icon
                            img(src="./images/binance-icon.png", alt="binance")
                        .name
                            h4
                                span 12
                                span BTC
                            h3
                                span $
                                span 391,402
                    .right
                        p.percentage +1.6%
                        .dropdown
                            button.btn-more.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                i.far.fa-ellipsis-h
                            .dropdown-menu
                                button.dropdown-item
                                    .icon
                                        i.far.fa-pen
                                    .text Rename Wallet
                                button.dropdown-item
                                    .icon
                                        i.fas.fa-eye
                                    .text View Secret phrases
                                button.dropdown-item
                                    .icon
                                        i.far.fa-pen
                                    .text Back up
                                button.dropdown-item
                                    .icon
                                        i.far.fa-arrow-to-bottom
                                    .text Delete Wallet
                                button.dropdown-item
                                    .icon
                                        i.far.fa-sign-out
                                    .text Log Out
                .coin__item
                    .left
                        .icon
                            img(src="./images/avalanche-icon.png", alt="avalanche")
                        .name
                            h4
                                span 12
                                span BTC
                            h3
                                span $
                                span 391,402
                    .right
                        p.percentage +1.6%
                        .dropdown
                            button.btn-more.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                i.far.fa-ellipsis-h
                            .dropdown-menu
                                button.dropdown-item
                                    .icon
                                        i.far.fa-pen
                                    .text Rename Wallet
                                button.dropdown-item
                                    .icon
                                        i.fas.fa-eye
                                    .text View Secret phrases
                                button.dropdown-item
                                    .icon
                                        i.far.fa-pen
                                    .text Back up
                                button.dropdown-item
                                    .icon
                                        i.far.fa-arrow-to-bottom
                                    .text Delete Wallet
                                button.dropdown-item
                                    .icon
                                        i.far.fa-sign-out
                                    .text Log Out
            .button-add-block
                button.btn-add-coin.btn-primary-dark-1
                    i.fas.fa-plus
        include ../layouts/nav