extends ../layouts/layout

block var
    - bodyClass = "password-recovery"
    - pageTitle = "Password recovery"
block css
    link(rel="stylesheet", href="./css/password-recovery.css")
block js
    script(src="./js/password-recovery.js")
block main
    section.password-recovery
        .container-extension
            .header-extension
                a(href="index.html").btn.btn-sm.btn-link-light.btn-back
                    i.fa.fa-angle-left
                    span Back
                img.logo(src="/images/logo_white.png", alt="Prism")
            .body-extension
                h1.title-screen Password recovery
                .password-recovery-form
                    form.form-container
                        .form-wrapper.form-auth
                            .form-control-have-label
                                label.form-label Enter your email to receive recovery link
                                input.form-control(type="email", name="email")
                                small#email-valid.invalid-feedback Your email must be a valid Email
                            a#send-email.btn.btn-block.btn-lg.btn-primary-dark-1(href="") Send
                .password-recovery-verify.d-none
                    .link-verify
                        p A 
                            a#verify-link.fw-700(href="") verification link&nbsp;
                        p has been sent to your email.
                    p Click the link to continue.
                .password-confirm-form.d-none
                    form.form-container(action="")
                        .form-wrapper.form-auth
                            .form-control-have-label
                                label.form-label New Password 
                                    span.note (min 8 characters)
                                input.form-control(type="password", name="password")
                            .form-control-have-label
                                label.form-label Confirm password
                                input.form-control(type="password", name="password")
                            a#confirm-password.btn.btn-block.btn-lg.btn-primary-dark-1(href="") Confirm
