extends ../layouts/layout

block css
    link(rel="stylesheet", href="./css/restore.css")
block main
    section.restore-wallet
        .container-extension
            .header-extension
                a(href="index.html").btn.btn-sm.btn-link-light.btn-back
                    i.fa.fa-angle-left
                    span Back
                img.logo(src="/images/logo_white.png", alt="Prism")
            .body-extension
                span.title Restore a wallet
                ul.wrap-restore
                    li.restore-item
                        a(href="").d-flex.al-c
                            img(src="/images/res-secret.png", alt="restore") 
                            p Restore with Secret phrases
                    li.restore-item
                        a(href="").d-flex.al-c
                            img(src="/images/res-json.png", alt="restore")
                            p Restore with Json file
                    li.restore-item
                        a(href="").d-flex.al-c
                            img(src="/images/res-trezor.png", alt="restore")
                            p Restore with Trezor wallet
                    li.restore-item
                        a(href="").d-flex.al-c
                            img(src="/images/res-ledger.png", alt="restore")
                            p Restore with Ledger wallet
                    li.restore-item
                        a(href="").d-flex.al-c
                            img(src="/images/res-grid.png", alt="restore")
                            p Restore with Grid+ device

