extends ../layouts/layout

block var
    - bodyClass = "secret-phrases-page"
    - pageTitle = "Secret Phrases"
block css
    link(rel="stylesheet", href="./css/secret_phrases.css")
block js
    script(src="./js/secret-phrases.js")
block main
    section.secret-phrases-screen.wrapper-extention-fullpage
        .container
            .extention-fullpage-steps
                ul.steps
                    li.step__item
                        a(href="create-password.html") 1
                    li.step__item.active
                        a(href="#") 2
                    li.step__item
                        a(href="#") 3
                    li.step__item
                        a(href="#") 4
                    li.step__item
                        a(href="#") 5
                    li.step__item
                        a(href="#") 6
            .extention-fullpage-block
                .header
                    img.logo-extention(src="./images/logo-black.png", alt="Prism")
                    h2.title-main-screen.ta-c Secret phrases
                .body
                    .group-button-action
                        button.btn.btn-sm.btn-link.button-toggle-secret-phrases
                            i.fa.fa-solid.fa-eye
                            span View secret phrases
                        button.btn.btn-sm.btn-link.button-copy-secret-phrases
                            i.fa.fa-solid.fa-copy
                            span Copy secret phrases
                    .secret-phrases.hidden-secret-phrases
                        .secret-phrases__item release
                        .secret-phrases__item rose
                        .secret-phrases__item update
                        .secret-phrases__item void
                        .secret-phrases__item accident
                        .secret-phrases__item coil
                        .secret-phrases__item dove
                        .secret-phrases__item glass
                        .secret-phrases__item humor
                        .secret-phrases__item need
                        .secret-phrases__item peanut
                        .secret-phrases__item rabit
                    .form-group-buttons-2
                        button.btn.btn-block.btn-lg.btn-outline-primary Back
                        button.btn.btn-block.btn-lg.btn-primary Next