extends ../layouts/layout

block var
    - bodyClass = "verify-secret-phrases-page"
    - pageTitle = "Verify Your Secret Phrases"
block css
    link(rel="stylesheet", href="./css/verify_secret_phrases.css")
block main
    section.verify-secret-phrases-screen.wrapper-extention-fullpage
        .container
            .extention-fullpage-steps
                ul.steps
                    li.step__item
                        a(href="create-password.html") 1
                    li.step__item
                        a(href="secret-phrases.html") 2
                    li.step__item.active
                        a(href="verify-secret-phrases.html") 3
                    li.step__item
                        a(href="#") 4
                    li.step__item
                        a(href="#") 5
                    li.step__item
                        a(href="#") 6
            .extention-fullpage-block
                .header
                    img.logo-extention(src="./images/logo-black.png", alt="Prism")
                    h2.title-main-screen.ta-c Verify your secret phrases
                .body
                    .verify-secret-phrases
                        .verify-secret-phrases__item
                            .sequence 1.
                            .value release
                        .verify-secret-phrases__item
                            .sequence 2.
                            .value update
                        .verify-secret-phrases__item
                            .sequence 3.
                            .value rose
                        .verify-secret-phrases__item
                            .sequence 4.
                            .value void
                    .form-group-buttons-2
                        a(href="secret-phrases.html" role="button").btn.btn-block.btn-lg.btn-outline-primary Back
                        a(href="verify-secret-phrases.html" role="button").btn.btn-block.btn-lg.btn-primary Next